.polaris-header{
    background: #5ac700;
}

.polaris-jumbotron{
    background: #b1d171
}

.polaris-emulator-container{
    max-width: 300px;
}

.polaris-img-preview{
    width: 250px;
    height: 250px;
}

#btn-analysis{
    visibility: hidden;
}